.row {
    display: flex;
    flex-wrap: wrap;
}
.section .container {
    padding-top: 3.75rem;
    padding-bottom: 4.75rem;
}

.section-title {
    font-size: 2.25rem;
    margin-left: var(--m-0-75);
}

.about-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    height: auto;
}
.about-content {
    flex: 0 0 75%;
    max-width: 75%;
}
.about-content .about-text,
.about-content .skills {
    flex: 0 0 50%;
    max-width: 50%;
}
.rounded{
    background-color: var(--color-primary2);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
}

.about-text p {
    text-align: justify;
    margin-bottom: var(--m-1);
}
.about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content .skills .skill-item h4{
    margin-bottom: var(--m-0-75);
}

.about-content .skills .skill-item .progress{
    background-color: var(--color-white);
    height: 0.45rem;
    border-radius: var(--border-radius);
    width: 100%;
    position: relative;
}

.about-content .skills .skill-item:not(:last-child) {
    margin-bottom: var(--m-1-5);
}

.about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: var(--border-radius);
}

.about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: -2.5rem;
    height: 100%;
}

#progress1 {
    width: 85%;
    background-color: var(--color-primary);
}

#progress2 {
    width: 90%;
    background-color: var(--color-primary);
}

#progress3 {
    width: 70%;
    background-color: var(--color-primary);
}

.about-img-img{
    border-radius: 50%;
}